/* global */
body.Canvas2D_focus { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }

/* Canvas2D container */
.Canvas2D        { position:relative; overflow:hidden; }
.Canvas2D.active { box-shadow:0 0 5px rgba(128, 128, 255, 0.7); }

/* <canvas> itself */
.Canvas2D canvas { position:relative; }

/* pages */
.Canvas2D > .page    {
	position:absolute; z-index:1; width:100%; height:100%; background:rgba(0,0,0,0.8);
	display:none; opacity:0; top:-50px;
}
.Canvas2D > .cross {
	position:absolute; z-index:1; top:5px; right:5px; width:16px; height:16px; background:center no-repeat url(cross.png); opacity:0.66;
	top:-16px;
}
.Canvas2D > .cross:hover { opacity:1; }
