/* global */
body    { overflow:hidden; margin:0; font:12px sans-serif; text-align:center; color:#ddd; background:#111; }
#global { display:inline-block; margin:auto; text-align:left; }

/* title */
h1      { margin:10px 0; }
h1 span { font-size:12px; }

/* menu */
#menu   { margin-bottom:10px; }
#menu a        { color:#aaa; padding:2px 5px; font-weight:bold; text-decoration:none; border-radius:2px; }
#menu a:hover  { color:#ccc; background:#222; text-shadow:0 1px 0px #000; }
#menu a:active { box-shadow:inset 0 2px 3px rgba(0,0,0,0.5); }
.Canvas2D > div h2 { margin:15px 0 10px 15px; }

ul.man         { font-family:monospace; line-height:24px; }
ul.man b:after { content:'\A0:\A0'; }
ul.man b span        { border:1px solid #555; border-radius:2px; padding:0 4px; color:#aaa; font-size:15px; background:#222; }
ul.man b span + span { margin-left:4px; }

/* canvas */
canvas  { display:block; cursor:crosshair; background:#151517; }
